################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkTracker/FileContentIndex/74870172-28e3-407f-9b59-3dba4e7df9e8.vsidx
/.vs/WorkTracker/FileContentIndex/96552175-ce52-464c-af8e-21e320694d74.vsidx
/.vs/WorkTracker/FileContentIndex/9d4e1975-e1de-4968-b25c-ba842e0d6809.vsidx
/.vs/WorkTracker/FileContentIndex/a791598a-8e5f-4728-a648-45a74e2ad3f5.vsidx
/.vs/WorkTracker/FileContentIndex/ad90408e-626a-47ff-b014-e0ef3dcba846.vsidx
*.vsidx
